@font-face {
  font-family: "iconfont"; /* Project id  */
  src: url('iconfont.ttf?t=1646387768568') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-wenjian:before {
  content: "\e606";
}

.icon-yasuobao:before {
  content: "\e61a";
}

.icon-yasuo:before {
  content: "\e63d";
}

.icon-NMStubiao-:before {
  content: "\e626";
}

.icon-jieya:before {
  content: "\e62a";
}

.icon-a-wenjianjiawenjian:before {
  content: "\e69e";
}

